:root {
  /* Colors */
  --color-primary: #00012c;
  --color-secondary: #1d3557;
  --color-accent: #d4a373;

  --color-background: #f8f4ee;
  --color-surface: #ffffff;

  --color-text: #222222;
  --color-text-light: #6b7280;

  --color-border: #e5e7eb;
  --color-error: #dc2626;

  /* Shadows */
  --shadow-sm: 0px 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 4px 12px rgba(0, 0, 0, 0.12);

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;

  /* Typography */
  --font-main: "Google Sans Flex", sans-serif;

  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 32px;

  /* Layout */
  --container-width: 1200px;

  /* Navbar */
  --navbar-height: 156px;

  /* Transitions */
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
}

/* ==========  M A I N  ========= */
main{
  min-height: 100vh;
  background: #fff2d6;
}

@media screen and (min-width: 370px) and (max-width: 767px) {
  main{
    padding-top: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
  main{
    padding-top: 120px;
  }
} 

@media screen and (min-width: 1024px)  {
  main{
    padding-top: 146px;
  }
} 

/* =========== MEDIA ========== */

img {
  max-width: 100%;
  display: block;
}

ul,ol {
  list-style: none;
}

/* Buttons */

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: var(--transition);
}

/* Inputs */

input, textarea, select {
  font-family: inherit;
  outline: none;
}

/* Layout utility */

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: 20px;
}


h1{
  font-size: clamp(40px, 5vw, 64px);
}

h2{
  font-size: clamp(32px, 4vw, 52px);
}

h3{
  font-size: clamp(28px, 3.5vw, 42px);
}

h4{
  font-size: clamp(24px, 3vw, 34px);
}

h5{
  font-size: clamp(20px, 2.5vw, 28px);
}

h6{
  font-size: clamp(18px, 2vw, 22px);
}

p{
  font-size: clamp(16px, 1.4vw, 18px);
}

a{
  font-size: clamp(10px, 1.5vw, 18px);
  color: #ffffff;
  text-decoration: none;
  color: inherit;
}

